/*
body {
	padding-top: 50px;
}*/
.starter-template {
	padding: 40px 15px;
}

span{
	margin-top: -16px; 
	height: auto; 
	font-style: italic;
	font-size: 24px;
}

q:before { 
	content: '\201C'; 
	font-size:350%;
	font-family: Times New Roman; 
	padding-right: 10px; 
} 

q:after { 
	content: '\201D'; 
	font-size:350%; 
	padding-left: 20px;
	font-family: Times New Roman; 
}

