body {

	background-color: #e8e8e8;
}

#wrapper {
	position: absolute;
/*width: 1000px;*/
	font-family: "Helvetica Neue";
	font-size: 14px;
	right: 10px;
	left: 10px;
	background-color: inherit;
}

#svg-placeholder {
	position: relative;
	left: 100px;
	background-color: inherit; 


}
/*
#names {
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 3;
}
*/
/*
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
*/

#sidepanel {
	position: absolute;
	right: 10px;
	z-index: 5;	
	top: 10px;
}




.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
